body {
  font-family: Arial, sans-serif;
  background-color: #0e2a33;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set height to full viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 90%; /* Adjust the width to take more screen space */
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box; /* Include padding in width calculation */
}

.enrollment-details,
.payment-details {
  background-color: #142d36;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%; /* Adjust width to fit the full container */
}

.enrollment-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #00ff84;
}

.logo {
  width: 80px; /* Increased logo size */
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #324a52;
  border-radius: 20px;
  height: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.progress {
  background-color: #3f51b5;
  height: 100%;
  border-radius: 20px;
  width: 20%;
}

.supporters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info,
.terms {
  font-size: 14px;
  margin-top: 20px;
}

.payment-details h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #00ff84;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #324a52;
  border-radius: 5px;
  background-color: #102a33;
  color: #ffffff;
}

.payment-button {
  text-align: center;
  margin-top: 20px;
}

.razorpay-button {
  background-color: #ffde03;
  color: #142d36;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}