body {
  font-family: Arial, sans-serif;
  background-color: #0e2a33;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px), 
                    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.top-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a1e29;
  padding: 20px;
}

.top-strip .logo {
  width: 80px;
}

.top-strip-heading {
  font-size: 24px;
  margin: 0;
  color: #00ff84;
  text-align: center;
  flex-grow: 1;
}

.content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.enrollment-details,
.payment-details {
  background-color: #142d36;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.enrollment-details h2,
.payment-details h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #00ff84;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #324a52;
  border-radius: 5px;
  background-color: #102a33;
  color: #ffffff;
}

.payment-button {
  text-align: center;
  margin-top: 20px;
}

.payment-note {
  font-size: 14px;
  color: #a0a0a0;
  margin-top: 15px;
  text-align: center;
}

.progress-bar-container {
  margin-top: 10px;
  padding: 20px;
  background-color: #142d36;
  border-radius: 8px;
  width: 100%;
  height: auto; /* This ensures the container height adjusts dynamically */
  box-sizing: border-box;
}

.progress-bar {
  background-color: #324a52;
  border-radius: 20px;
  height: 10px;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.progress {
  background-color: #3f51b5;
  height: 100%;
  border-radius: 20px;
}

.progress-bar-container h3,
.progress-bar-container p {
  color: #00ff84;
  margin: 0;
  padding: 0 10px;
}

.progress-bar-container p {
  margin-top: 10px;
  margin-bottom: 0; /* Adjust this to avoid overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .content-container {
      flex-direction: column;
  }

  .enrollment-details, 
  .payment-details {
      width: 100%;
  }

  .top-strip .logo {
      width: 60px;
  }

  .top-strip-heading {
      font-size: 20px;
  }
}